@import url('https://fonts.googleapis.com/css?family=Rajdhani:700');
HTML {
    width : 100%;
    height : 100%;
}
BODY {
    overflow-y : auto;
    overflow-x: hidden;
    width      : 100%;
    height      : 100%;
    margin: 0;
    background: #EFEFEC;
}
BODY {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
BODY::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}