textarea{
    resize: none;
}

.inputArea{
    width: 300px;
    height: 300px;
}

.resultArea{
    width: 300px;
    height: 300px;
    margin-left: 30px;
}

.textarea{
    margin: 100px auto auto 100px;
}

.totalTextCount{
    position: absolute;
    margin: 280px auto auto 350px;
}

.infoLabel{
    position: absolute;
    margin: 283px auto auto 485px;
    font-size: 0.8rem;
}

.checkAll{
    position: absolute;
    margin: 280px auto auto 105px;
}

.searchHistory{
    margin-left: 100px;
}

.checkSentence{
    margin-left: 235px;
}