
spring:
  r2dbc:
    url: r2dbc:mariadb://1.230.255.115:3306/grammar_log
    username: grammar
    password: log
    pool:
      enabled: true
      initial-size: 10
      max-size: 10
      max-idle-time: 30m
      validation-query: SELECT 1
  main:
    web-application-type: reactive

logging:
  level:
    org:
      springframework:
        r2dbc: DEBUG
graphql:
  tools:
    schema-location-pattern: "**/*.graphqls"
    introspection-enabled: true
  servlet:
    mapping: /api/graphql
    enabled: true

server :
  port: 5000

naver :
  url : https://m.search.naver.com/p/csearch/ocontent/spellchecker.nhn?_callback=window.__jindo2_callback._spellingCheck_0&q=
  user-gent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36                                         (KHTML, like Gecko)     Chrome/57.0.2987.133 Safari/537.361
  referer : https://search.naver.com/

allow :
  origin : https://www.grammar-checker.link/